PORT=8000
NODE_ENV=Development


DATABASE_URL_POSTGRES="postgresql://username:password@localhost:5434/ams?schema=public"
DATABASE_URL_MONGO="mongodb+srv://username:password@localhost:27017/ams"

DATABASE_URL="postgresql://username:password@localhost:5434/ams?schema=public"

# DB options mongo, postgres, both
ALLOWED_DB="both"
